/* Add here all your css styles (customizations) */
// Variables
@import "custom.variables";
// Mixins
@import "custom.mixins";

.g-bg-blue-gray {
  background-color: #343a40 !important;
}

.g-bg-dark-gray {
  background-color: #1e2021 !important;
}

.sidebar {
  min-height: calc(100vh - 91px);

  .nav-link {
    color: #c0c0c0;
    padding: .15rem 0;
    margin-right: 1.5rem;
    border-bottom-width: 2px;
  }

  .sidebar__category {
    background-color: #1e2021;
    border-bottom: #2f3132 1px solid;
  }
}

.footer {
  background-color: #2b2d2f;
}

.footer-second {
  background-color: #17191b;
}

.container-fluid {
  .carousel-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
  }
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.product {
  border: 1px solid #44474a;
  margin: 0 -1px -1px 0;

  &:hover {
    border: 1px solid $g-color-primary;
    margin: -1px 0 0 -1px;
  }

  .product__description {
    color: #7f828b;
  }

  .markers {
    position: absolute;
  }
}

.product-img {
  .markers {
    position: absolute;
  }
}

.related-product {
  border: 1px solid #44474a;

  &:hover {
    border: 1px solid $g-color-primary;
  }

  .markers {
    position: absolute;
  }
}


.product-detail, .order-detail {
  .nav-link {
    color: #c0c0c0;
    padding: .15rem 0;
    margin-right: 1.5rem;
    border-bottom-width: 2px;
  }

  .breadcrumbs {
    background-color: #292929;
  }
}

@media (min-width: 992px) {
  .g-mr-80--lg {
    margin-right: 5.71429rem !important;
  }
}