{% load static %}

<h3 class="g-mb-40">С этим блюдом заказывают</h3>

{% if product.related_products.all|length > 0 %}

    <div class="js-carousel g-pb-20" data-infinite="true"
         data-slides-show="5" data-slides-scroll="5" data-rows="1"
         data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-40 g-height-40 g-font-size-18 g-color-white g-bg-primary"
         data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0"
         data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0" data-responsive='[
        {
          "breakpoint": 1024,
          "settings": {
            "slidesToShow": 5,
            "slidesToScroll": 5,
            "infinite": true,
            "dots": true
          }
        },
        {
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 2,
            "slidesToScroll": 2
          }
        },
        {
          "breakpoint": 480,
          "settings": {
            "slidesToShow": 1,
            "slidesToScroll": 1
          }
        }
      ]'>

        {% for r_product in product.related_products.all %}
            <div class="d-flex flex-column related-product g-mx-10">
                <div class="g-px-25 g-mt-15">
                    <a href="{{ r_product.get_absolute_url }}">
                        <div class="markers">
                            {% if r_product.is_new %}
                                <img src="{% static 'img/markers/new.png' %}"
                                     alt=""
                                     class="pr-1"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Новинка">
                            {% endif %}
                            {% if r_product.is_spicy %}
                                <img src="{% static 'img/markers/spicy.png' %}"
                                     alt=""
                                     class="pr-1"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Острое">
                            {% endif %}
                            {% if r_product.is_hit %}
                                <img src="{% static 'img/markers/hit.png' %}"
                                     alt=""
                                     class="pr-1"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Хит">
                            {% endif %}
                        </div>
                        {% if r_product.image %}
                            <img src="{{ r_product.image.url }}" alt="{{ r_product }}" class="img-fluid">
                        {% else %}
                            <img src="{% static 'img/no-image.png' %}" alt="" class="img-fluid">
                        {% endif %}
                    </a>
                </div>
                <div class="g-px-25 g-my-15">
                    <h3 class="g-font-size-16"><a href="{{ r_product.get_absolute_url }}"
                                                  class="g-color-white g-color-primary--hover">{{ r_product }}</a></h3>
                </div>
                <div class="g-mb-15 g-px-25 product__price mt-auto">
                    <div class="row">
                        <div class="col-8 d-flex align-items-center g-font-size-18">
                            <span>{{ r_product.price|floatformat:"0" }}</span> <span class="g-pl-5"><i class="fa fa-rub"></i></span>
                        </div>
                        <div class="col-4">
                            <cart-actions :product="{{ r_product.get_cart_data }}" :cart="cart" />
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}