{% load shop_extras %}
{% load staticfiles %}

<div class="sidebar g-color-white js-scrollbar">
    <div class="row no-gutters g-py-20 g-bg-blue-gray">
        <div class="col-9 g-pb-30 g-pl-20">
            {% if request.resolver_match.view_name != 'home' %}
                <a href="/"><img src="{% static "img/logo/logo.png" %}" alt="Keiko суши и роллы" title="Keiko суши и роллы"></a>
            {% else %}
                <img src="{% static "img/logo/logo.png" %}" alt="Keiko суши и роллы" title="Keiko суши и роллы">
            {% endif %}
        </div>

        <div class="col-3 d-flex justify-content-center g-pt-20">
            <a class="g-color-white g-font-size-28 g-color-primary--hover"
               id="close-menu-btn"
               href="#"
               title="Свернуть меню"
            ><i class="fa fa-times-circle"></i></a>
        </div>

        <div class="h5 text-uppercase g-pl-20 g-mb-20">Меню доставки</div>

        <!-- Nav tabs -->
        <ul class="nav u-nav-v5-1 u-nav-primary g-px-20 g-px-15--md" role="tablist"
            data-target="nav-5-1-primary-hor-center" data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
            <li class="nav-item">
                <a class="nav-link g-font-size-13 {% if 'category/' in request.path %}active{% endif %}{% if not 'category/' in request.path and not 'ingredient/' in request.path %}active{% endif %}"
                   data-toggle="tab"
                   href="#nav-5-1-primary-hor-center--1"
                   role="tab">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-font-size-13 {% if 'ingredient/' in request.path %}active{% endif %}"
                   data-toggle="tab"
                   href="#nav-5-1-primary-hor-center--2"
                   role="tab">Ингредиенты</a>
            </li>
        </ul>
        <!-- End Nav tabs -->
    </div>

    <!-- Tab panes -->
    <div id="nav-5-1-primary-hor-center" class="tab-content">
        <div class="tab-pane fade {% if 'category/' in request.path %}show active{% endif %}{% if not 'category/' in request.path and not 'ingredient/' in request.path %}show active{% endif %}" id="nav-5-1-primary-hor-center--1" role="tabpanel">
            {% categories as categories %}
            {% for category in categories %}
                <div class="row sidebar__category no-gutters">
                    <div class="col-4 px-0">
                        <a href="{{ category.get_absolute_url }}">
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="{{ category }}" class="img-fluid">
                            {% else %}
                                <img src="{% static 'img/no-image-sidebar.png' %}" alt="" class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-8 px-0 align-self-center">
                        <a href="{{ category.get_absolute_url }}"
                           class="g-font-size-13 g-color-white g-color-primary--hover g-color-primary--active g-text-underline--none--hover {% if product.primary_category.pk == category.pk or category.slug|add:"/" in request.path %}active{% endif %}"
                        >{{ category }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade {% if 'ingredient/' in request.path %}show active{% endif %}" id="nav-5-1-primary-hor-center--2" role="tabpanel">
            {% ingredients as ingredients %}
            {% for ingredient in ingredients %}
                <div class="row sidebar__category no-gutters">
                    <div class="col-4 px-0">
                        <a href="{{ ingredient.get_absolute_url }}">
                            {% if ingredient.image %}
                                <img src="{{ ingredient.image.url }}" alt="{{ ingredient }}" class="img-fluid">
                            {% else %}
                                <img src="{% static 'img/no-image-sidebar.png' %}" alt="" class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-8 px-0 align-self-center">
                        <a href="{{ ingredient.get_absolute_url }}"
                           class="g-font-size-13 g-color-white g-color-primary--hover g-color-primary--active g-text-underline--none--hover {% if ingredient.slug|add:"/" in request.path  %}active{% endif %}"
                        >{{ ingredient }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Tab panes -->
</div>