<div class="sidebar g-color-white">
    <h2 class="h5 text-uppercase g-pl-15">Меню доставки</h2>

    <!-- Nav tabs -->
    <ul class="nav u-nav-v5-1 u-nav-primary g-pl-15 g-mt-20" role="tablist"
        data-target="nav-5-1-primary-hor-center" data-tabs-mobile-type="slide-up-down"
        data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
        <li class="nav-item">
            <a class="nav-link g-font-size-13 active"
               data-toggle="tab"
               href="#nav-5-1-primary-hor-center--1"
               role="tab">Категории</a>
        </li>
        <li class="nav-item">
            <a class="nav-link g-font-size-13"
               data-toggle="tab"
               href="#nav-5-1-primary-hor-center--2"
               role="tab">Ингредиенты</a>
        </li>
    </ul>
    <!-- End Nav tabs -->

    <!-- Tab panes -->
    <div id="nav-5-1-primary-hor-center" class="tab-content g-pt-20">
        <div class="tab-pane fade show active" id="nav-5-1-primary-hor-center--1" role="tabpanel">
            <p>Equidem recteque sea et. Per detracto iracundia ea, duo nusquam denique omittantur in. Nam ex quas
                saperet, solum convenire vel in, dicant atomorum his ne. Putant bonorum in nam, nostrud neglegentur
                accommodare eam ad. Quo cu primis
                delenit.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>
        </div>
        <div class="tab-pane fade" id="nav-5-1-primary-hor-center--2" role="tabpanel">
            <p>Equidem recteque sea et. Per detracto iracundia ea, duo nusquam denique omittantur in. Nam ex quas
                saperet, solum convenire vel in, dicant atomorum his ne. Putant bonorum in nam, nostrud neglegentur
                accommodare eam ad. Quo cu primis
                delenit.</p>

            <p>Nam ut viris disputando dissentiunt, sumo vocent ad mea. Vel justo debitis neglegentur an. Facer doctus
                inimicus et est, sed ea sint dicant. Per soleat pertinax complectitur et, pro no porro cetero, mea probo
                apeirian torquatos ut.
                Habeo dicat errem quo et, ut democritum sententiae eloquentiam cum. Sit ad oblique inciderint
                reformidans, homero albucius voluptatum pro te, saepe laoreet in est.</p>
        </div>
    </div>
    <!-- End Tab panes -->
</div>