{% load shop_extras %}

<div class="sidebar g-color-white">
    <div class="row no-gutters g-py-20 g-bg-blue-gray">
        <h2 class="h5 text-uppercase g-pl-20 g-mb-20">Меню доставки</h2>

        <!-- Nav tabs -->
        <ul class="nav u-nav-v5-1 u-nav-primary g-pl-15" role="tablist"
            data-target="nav-5-1-primary-hor-center" data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
            <li class="nav-item">
                <a class="nav-link g-font-size-13 {% if 'category/' in request.path %}active{% endif %}"
                   data-toggle="tab"
                   href="#nav-5-1-primary-hor-center--1"
                   role="tab">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-font-size-13 {% if 'ingredient/' in request.path %}active{% endif %}"
                   data-toggle="tab"
                   href="#nav-5-1-primary-hor-center--2"
                   role="tab">Ингредиенты</a>
            </li>
        </ul>
        <!-- End Nav tabs -->
    </div>

    <!-- Tab panes -->
    <div id="nav-5-1-primary-hor-center" class="tab-content">
        <div class="tab-pane fade show active" id="nav-5-1-primary-hor-center--1" role="tabpanel">
            {% categories as categories %}
            {% for category in categories %}
                <div class="row sidebar__category no-gutters">
                    <div class="col-4 px-0">
                        <a href="{{ category.get_absolute_url }}"><img src="{{ category.image.url }}" alt="{{ category }}" class="img-fluid"></a>
                    </div>
                    <div class="col-8 px-0 align-self-center">
                        <a href="{{ category.get_absolute_url }}"
                           class="g-color-white g-color-primary--hover g-color-primary--active g-text-underline--none--hover {% if category.slug in request.path  %}active{% endif %}"
                        >{{ category }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-5-1-primary-hor-center--2" role="tabpanel">
            {% ingredients as ingredients %}
            {% for ingredient in ingredients %}
                <div class="row sidebar__category">
                    <div class="col-4 px-0">
                        <img src="{{ ingredient.image.url }}" alt="{{ ingredient }}" class="img-fluid">
                    </div>
                    <div class="col-8 px-0 align-self-center">
                        <a href="#"
                           class="g-color-white g-color-primary--hover g-text-underline--none--hover">{{ ingredient }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Tab panes -->
</div>