{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="g-color-white product-detail">
        {% include 'shop/product_detail/_partials/breadcrumbs.html' %}

        <div class="row py-3 no-gutters g-mb-40">
            <div class="d-flex justify-content-center col-md-6">
                {% include 'shop/product_detail/_partials/product_img.html' %}
            </div>
            <div class="col-md-6 g-px-15">
                {% include 'shop/product_detail/_partials/product_info.html' %}
            </div>
        </div>

        <div class="row no-gutters g-mb-30">
            <div class="col-12 g-px-15">
                {% include 'shop/product_detail/_partials/related_products.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
{% endblock %}