{% extends 'base.html' %}
{% load static %}

{% block title %}{% if product.meta_title %}{{ product.meta_title }}{% else %}{{ product.title }} заказать во Владикавказе с доставкой – KEIKO{% endif %}{% endblock %}
{% block keywords %}{{ product.meta_keywords|default:"" }}{% endblock %}
{% block description %}{% if product.meta_description %}{{ product.meta_description }}{% else %}Заказать {{ product.title }} в ресторане японской кухни – KEIKO. Бесплатная доставка 800 рублей! 📞 +7 (8672) 29-22-55 звоните!{% endif %}{% endblock %}

{% block content %}
    <div class="g-color-white product-detail">
        {% include 'shop/product_detail/_partials/breadcrumbs.html' %}

        <div class="row py-3 no-gutters g-mb-40" itemscope itemtype="https://schema.org/Product">
            <div class="d-flex justify-content-center col-md-6">
                {% include 'shop/product_detail/_partials/product_img.html' %}
            </div>
            <div class="col-md-6 g-px-15">
                {% include 'shop/product_detail/_partials/product_info.html' %}
            </div>
        </div>

        <div class="row no-gutters g-mb-30">
            <div class="col-12 g-px-15">
                {% include 'shop/product_detail/_partials/related_products.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
{% endblock %}