{% extends 'base.html' %}

{% block title %}{{ page_data.meta_title|default:"О доставке - KEIKO" }}{% endblock %}
{% block keywords %}{{ page_data.meta_keywords|default:"" }}{% endblock %}
{% block description %}{{ page_data.meta_description|default:"" }}{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1>{{ page_data.meta_h1|default:"О доставке" }}</h1>
    </div>

    {% include 'delivery/_partials/breadcrumbs.html' %}

    <div class="g-my-50 g-px-30 g-color-white-opacity-0_9 g-min-height-200">
        {{ page_data.content|safe }}
    </div>

{% endblock %}