{% extends 'base.html' %}
{% load static %}
{% load shop_extras %}

{% block title %}{% if category.meta_title %}{{ category.meta_title }}{% else %}{{ category.title }} - KEIKO{% endif %}{% endblock %}
{% block keywords %}{{ category.meta_keywords|default:"" }}{% endblock %}
{% block description %}{{ category.meta_description|default:"" }}{% endblock %}

{% block content %}
    <div class="category-detail">
        <div class="g-pa-20">
            <h1>{{ category.meta_h1|default:category.title }}</h1>
        </div>

        {% include 'shop/category_detail/_partials/breadcrumbs.html' %}

        <div class="row g-pb-40 g-px-20 no-gutters">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2dot4 g-pt-10 product">
                    <div class="d-flex flex-column h-100">
                        <div class="g-px-25 g-mt-15">
                            <a href="{{ product.get_absolute_url }}">
                                {% markers product=product %}
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product }}" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'img/no-image.png' %}" alt="" class="img-fluid">
                                {% endif %}
                            </a>
                        </div>
                        <div class="g-px-25 g-mt-15 g-font-size-16">
                            <a href="{{ product.get_absolute_url }}"
                               class="g-color-white g-color-primary--hover">{{ product }}</a>
                        </div>
                        <div class="g-px-25 g-mt-15 g-mb-5 g-font-size-12 product__description text-justify">
                            {{ product.description|default_if_none:""|safe }}
                        </div>
                        <div class="g-mb-15 g-px-25 product__price mt-auto">
                            <div class="row">
                                <div class="col-8 d-flex align-items-center g-font-size-18">
                                    <span>{{ product.price|floatformat:"0" }}</span> <span class="g-pl-5"><i
                                        class="fa fa-rub"></i></span>
                                </div>
                                <div class="col-4">
                                    <cart-actions :product="{{ product.get_cart_data }}" :cart="cart"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}