{% extends 'base.html' %}
{% load static %}
{% load shop_extras %}

{% block title %}{% if ingredient.meta_title %}{{ ingredient.meta_title }}{% else %}Суши и роллы с {{ ingredient.tags }} доставка Владикавказ – KEIKO{% endif %}{% endblock %}
{% block keywords %}{{ ingredient.meta_keywords|default:"" }}{% endblock %}
{% block description %}{% if ingredient.meta_description %}{{ ingredient.meta_description }}{% else %}Заказать суши с {{ ingredient.tags }} в ресторане KEIKO. Японская кухня с бесплатной доставкой от 800 рублей в городе Владикавказ 📞 +7 (8672) 29-22-55 звоните!{% endif %}{% endblock %}

{% block extra_meta%}<link rel="canonical" href="{{ request.path }}?show=all" />{% endblock %}

{% block content %}
    <div class="ingredient-detail">
        <div class="g-pa-20">
            <h1>{{ ingredient.meta_h1|default:ingredient.title }}</h1>
        </div>

        {% include 'shop/ingredient_detail/_partials/breadcrumbs.html' %}

        {% include 'shop/ingredient_detail/_partials/filters.html' %}

        <div class="row g-mb-40 g-px-20 no-gutters">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2dot4 g-pt-10 product">
                    <div class="d-flex flex-column h-100">
                        <div class="g-px-25 g-mt-15">
                            <a href="{{ product.get_absolute_url }}">
                                {% markers product=product %}
                                {% if product.image %}
                                    <img src="{{ product.image.url }}"
                                         title="{{ product }}"
                                         alt="{{ product }}"
                                         class="img-fluid">
                                {% else %}
                                    <img src="{% static 'img/no-image.png' %}" alt="" class="img-fluid">
                                {% endif %}
                            </a>
                        </div>
                        <div class="g-px-25 g-mt-15 g-font-size-16">
                            <a href="{{ product.get_absolute_url }}"
                               class="g-color-white g-color-primary--hover">{{ product }}</a>
                        </div>
                        <div class="g-px-25 g-mt-15 g-mb-5 g-font-size-12 product__description text-justify">
                            {{ product.description_short|default_if_none:""|safe }}
                        </div>
                        <div class="g-mb-15 g-px-25 product__price mt-auto">
                            <div class="row">
                                <div class="col-8 d-flex align-items-center g-font-size-18">
                                    <span>{{ product.price|floatformat:"0" }}</span> <span class="g-pl-5"><i
                                        class="fa fa-rub"></i></span>
                                </div>
                                <div class="col-4">
                                    <cart-actions :product="{{ product.get_cart_data }}" :cart="cart"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-12">
                {% include 'shop/ingredient_detail/_partials/pagination.html' %}
            </div>
        </div>

        {% if ingredient.text %}
            <div class="row g-color-gray-light-v1 g-mb-30 no-gutters">
                <div class="col-md-12 g-px-20">
                    {{ ingredient.text|safe }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}