{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid g-px-0">
        <div class="row no-gutters">
            <div class="col-md-2 mt-0 g-bg-dark-gray ">
                {% include '_partials/sidebar.html' %}
            </div>
            <div class="col-md-10 g-color-white">
                <div class="g-pa-20">
                    <h1>Корзина</h1>
                </div>

                <div class="g-pa-15 g-mb-70 g-bg-gray-dark-v2">
                    <order :cart="cart" />
                </div>


                {% include '_partials/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}