{% extends 'base.html' %}

{% block content %}
    <div class="g-pa-20">
        <h1>404</h1>
    </div>

    <div class="row g-mb-30 no-gutters">
        <div class="col">
            <div class="g-bg-gray-dark-v2 g-pt-20 g-px-20 g-pb-10">
                <p class="g-font-size-16">Страница не найдена</p>
            </div>
        </div>
    </div>

    <div class="g-min-height-50vh g-flex-centered g-pa-15 g-mb-40">
        <div class="text-center g-flex-centered-item">
            <div class="g-font-size-180 g-font-size-240--sm g-font-size-420--lg g-line-height-1 g-font-weight-200 g-color-gray-dark-v2">
                404
            </div>

            <div class="g-font-size-18">Вернуться на <a href="/">главную страницу</a></div>
        </div>
    </div>
{% endblock %}