{% load static %}

<div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">{{ data.title }}</h2>
</div>

<address class="g-bg-no-repeat g-line-height-2 g-mt-minus-4"
         style="background-image: url({% static 'img/maps/map2.png' %});">

    {{ data.html|safe }}

</address>


<div class="vcard">
    <h1 class="g-font-weight-300 mb-5 fn org">Keikorolls</h1>
    <div class="mb-4 adr">
        <h2 class="h5 g-color-gray-light-v2 g-font-weight-600">Адрес:</h2>
        <p class="g-color-gray-light-v1 g-font-size-16"><span class="locality">г. Владикавказ</span>,
            <br><span class="street-address">ул. Весенняя, 1А</span>,
            <br><span class="extended-address">ТЦ &quot;Весна&quot;</span>
        </p>
    </div>
    <div class="mb-3">
        <h2 class="h5 g-color-gray-light-v2 g-font-weight-600">Телефоны:</h2>
        <p class="g-color-gray-light-v1"><span class="g-color-gray-light-v2"><a class="g-color-gray-light-v2 tel" href="tel:+7 (8672) 29-22-55">+7 (8672) 29-22-55</a></span>
        <br><span class="g-color-gray-light-v2"><a class="g-color-gray-light-v2 tel" href="tel:+7 (8672) 92-23-55">+7 (8672) 92-23-55</a></span>
        <br><span class="g-color-gray-light-v2"><a class="g-color-gray-light-v2 tel" href="tel:8 (918) 822-23-55">8 (918) 822-23-55</a></span>
        </p>
    </div>
    <div class="g-mb-30">
        <p class="g-color-gray-light-v5 g-font-weight-600 g-font-size-16"><em>График работы: c 10 утра до 11 ночи</em>
        </p>
    </div>
</div>

<div class="vcard"><span class="fn org">Keikorolls</span>
    <div class="adr"><span class="locality">г. Владикавказ</span>, <span
            class="street-address">ул. Весенняя, 1А</span><br/>
        <span class="extended-address">ТЦ &quot;Весна&quot;</span></div>
    Телефон: <span class="tel">29-22-55</span>, <span class="tel">92-23-55</span>, <span
            class="tel">8 (918) 822-23-55</span>
</div>